:root {
  --text-color: #ecf0f1;
  --bg-main: #3498db;
  --bg-secondary: #2980b9;
  --call-to-action: #ff3800;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  background-image: linear-gradient(
    160deg,
    var(--bg-main) 0%,
    var(--bg-secondary) 100%
  );
  min-width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

header {
  padding: 3.2rem;
}

header h1 {
  text-align: center;
  font-size: 3.2rem;
}

main h2,
main h3,
main h4 {
  text-align: center;
  margin-bottom: 1.6rem;
}

main h2 {
  font-size: 2.8rem;
}

main h3 {
  font-size: 2.2rem;
  margin-bottom: 0.2rem;
}

main p {
  font-size: 2rem;
  font-weight: bold;
}

.container,
.game-container,
.player-container,
.opponent-container,
.score-container,
.picks-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.score-container {
  margin-bottom: 1.6rem;
}

.star {
  font-size: 2.4rem;
}

.player-container,
.opponent-container {
  flex-direction: column;
  flex: 1 1 0;
}

.pick:hover {
  cursor: pointer;
}

.loader {
  border: 16px solid var(--bg-main);
  border-radius: 50%;
  border-top: 16px solid var(--text-color);
  width: 128px;
  height: 128px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.round-message {
  text-align: center;
  margin-top: 3.2rem;
  font-weight: bold;
}

.win-container {
  flex-direction: column;
  margin-top: 3.2rem;
}

.play-again-btn {
  background-color: var(--call-to-action);
  color: var(--text-color);
  border: 0;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0.8rem;
  cursor: pointer;
}

.play-again-btn:hover {
  background-color: var(--text-color);
  color: var(--call-to-action);
}

.hide {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 850px) {
  .game-container {
    flex-direction: column;
  }
}
